version: 1.1.{build}
skip_tags: true
image: Visual Studio 2017
build_script:
- cmd: nuget pack MSBuild.Version.Target.nuspec -Version %APPVEYOR_BUILD_VERSION%
artifacts:
- path: '**\*nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: e62/4bEisGjm/1arxy0Xv+RKQvlcakQM8mLREyTgi78QbSKLhiNQrGljOzUDk1pA
  skip_symbols: true